
/Autoencoder Log/*
/Datasets/*
/AutoencoderAPI/__pycache__
/AutoencoderAPI/setup/__pycache__
/AutoencoderAPI/setup/datasets/__pycache__
/AutoencoderAPI/setup/networks/__pycache__
/AutoencoderAPI/utils/__pycache__
/ExistingAlgorithms/__pycache__